/* ========= NavBar ========= */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
}

.pointer {
  cursor: pointer;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.decoration-none {
  text-decoration: none;
}

.w-50 {
  width: 50%;
}

.hidden {
  display: none;
}

img {
  max-width: 100%;
}

.color-orange {
  color: rgb(216, 110, 46);
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-blue {
  background-color: rgba(98, 98, 235, 0.5);
}

.bg-red {
  background-color: rgba(237, 84, 84, 0.5);
}

p {
  color: #69707d;
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}
nav {
  padding: 1.5rem 6rem;
}
nav .menu-icon img:hover {
  cursor: pointer;
}
nav .nav-container {
  position: relative;
  justify-content: space-between;
}
nav .nav-container::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 0.5px;
  bottom: -1.5rem;
}
nav ul {
  list-style: none;
  display: flex;
}
nav li {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  color: #69707d;
  text-decoration: none;
  font-size: smaller;
}
nav .logo {
  margin-right: 2rem;
}
nav svg {
  transition: 0.2s;
}
nav svg:hover {
  fill: #b4b7be;
  cursor: pointer;
}
nav .left-section a {
  margin-right: 1rem;
  position: relative;
}
nav .left-section a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -2.45rem;
  right: 0;
  transition: 0.5s;
}
nav .left-section a:hover {
  color: #000000;
}
nav .left-section a:hover::after {
  background-color: rgba(255, 166, 0, 0.5);
}
nav .right-section a {
  margin-left: 2rem;
}
nav .right-section .user img {
  width: 3rem;
}

#side-bar-close {
  display: none;
}

section.product {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}
section.product img {
  border-radius: 5%;
}
section.product .other-imgs {
  justify-content: space-between;
}
section.product .other-imgs div {
  background-color: red;
  height: 60px;
  border-radius: 0.5rem;
  width: 60px;
}
section.product .main-img {
  width: 20rem;
  margin-bottom: 5%;
}
section.product .main-img img {
  width: 100%;
}
section.product .left-section {
  justify-content: flex-end;
}
section.product .right-section {
  padding: 10%;
}
section.product .right-section .company-name,
section.product .right-section p {
  font-size: smaller;
  margin: 1rem 0;
}
section.product .right-section .company-name {
  margin: 0.2rem 0;
}
section.product .right-section .price {
  font-size: 1.5rem;
  font-weight: 600;
}
section.product .right-section .discount {
  background-color: rgba(215, 113, 45, 0.2);
  padding: 0.05rem 0.5rem;
  border-radius: 10%;
  font-size: smaller;
  font-weight: 600;
  margin: 0 1rem;
}
section.product .right-section .old-price {
  color: rgba(105, 112, 125, 0.6);
  font-weight: 600;
  font-size: smaller;
  margin: 0.2rem 0 1.5rem 0;
}
section.product .right-section svg {
  fill: rgb(241, 123, 44);
}
section.product .right-section svg:hover {
  fill: rgb(247, 164, 109);
}
section.product .right-section .add-cart {
  background-color: rgb(241, 123, 44);
  color: #ffffff;
  font-weight: 600;
  font-size: 10px;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.3s;
}
section.product .right-section .add-cart:hover {
  background-color: rgb(248, 167, 113);
}
section.product .right-section .add-cart span {
  margin-left: 0.5rem;
}
section.product .right-section .add-cart img {
  width: 0.9rem;
}
section.product .right-section .count {
  width: 6rem;
  background-color: rgba(105, 112, 125, 0.1);
  padding: 0.5rem 0.5rem;
  justify-content: space-between;
  border-radius: 0.3rem;
  margin-right: 1rem;
}
section.product .title {
  font-weight: 800;
}

.active-img {
  position: relative;
}
.active-img img {
  border: 2px solid #ff3c00;
}

.active-img::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cart-modal-heading {
  padding: 0.5rem 1rem;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}

.cart-modal {
  z-index: 10;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 250px;
  top: 3rem;
  right: 50%;
  transform: translate(50%);
  border-radius: 0.3rem;
  cursor: context-menu;
  font-size: smaller;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
}

.modal-product-img {
  width: 50px;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
}

.modal-cart-content {
  padding: 1rem;
}

.remove-cart {
  margin-left: 0.5rem;
}

/* ===== Mobile View ===== */
@media (max-width: 768px) {
  nav {
    padding: 1.5rem 10%;
  }
  nav .menu-icon {
    display: flex;
  }
  nav .right-section .user img {
    width: 2.5rem;
  }
  .side-bar {
    display: none;
  }
  section.product {
    display: block;
    padding: 0;
    padding-top: 6rem;
  }
  section.product .left-section,
section.product .left-section .container {
    width: 100%;
  }
  section.product .left-section .main-img,
section.product .left-section .container .main-img {
    width: 100%;
  }
  section.product .left-section img,
section.product .left-section .container img {
    border-radius: 0;
  }
  section.product .other-imgs {
    display: none;
  }
  section.product .right-section {
    padding: 0 5%;
    width: 100%;
  }
  section.product .right-section .old-price {
    margin: 0;
    margin-right: 5%;
  }
  section.product .right-section .count {
    width: 100%;
    padding: 2% 10%;
  }
  section.product .right-section .add-cart {
    justify-content: center;
    margin: 3% 0;
    font-size: 16px;
  }
  section.product .all-prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  section.product .count-container {
    padding: 10%;
    flex-direction: column;
    text-align: center;
  }
  .overlay {
    display: none;
    position: fixed;
    transition: 1s;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .side-bar {
    background-color: white;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    left: -100%;
    top: 0;
    bottom: 0;
    padding: 5% 20% 0 7%;
    align-items: flex-start;
  }
  .side-bar a {
    color: #000000;
    font-size: 20px;
    font-weight: 800;
    margin: 12% 0;
  }
  #side-bar-close {
    display: block;
    margin-bottom: 100%;
  }
  .modal-cart-icon {
    position: static;
  }
  .cart-modal {
    transform: translate(0);
    right: 10%;
    left: 10%;
  }
  nav .left-section a::after {
    position: static;
  }
}/*# sourceMappingURL=main.css.map */